$primary-background-color: #7371fc;
$secondary-background-color: #5a58f8;
$third-background-color: #ffffff;
$accent-background-color: #f05365;
$border-color-one: #cccccb;
$border-color-two: #ffffff;
$main-text-color: #ffffff;
$input-background-color: #eae9e9;

// Global styles
.card-container {
  margin-top: -3rem;
  padding-bottom: 2rem;
  position: relative;
  overflow: hidden;
  border-radius: 25px !important;

  .card-border {
    height: 20px;
    width: 100%;
    bottom: 0;
    background-color: $accent-background-color;
    position: absolute;
    border-radius: 0 0 25px 25px;
  }
}
.submit-button {
  border-radius: 100%;
  height: 40px;
  cursor: pointer;
  color: $main-text-color;
  width: 40px;
  background-color: $accent-background-color;
  border: none;
}

//Header component
.header {
  background-color: $primary-background-color;
  border-bottom: 4px solid $border-color-one;
  padding-top: 10px;
  padding-bottom: 10px;

  .header-logo {
    width: 80px;
    float: left;
  }

  .header-content {
    color: $main-text-color;

    .header-heading {
      margin-left: 2rem;
    }

    .profile-settings {
      background-color: $secondary-background-color;
      height: 20px;
      position: relative;
      padding: 10px 30px;
      border-radius: 25px;
      margin-top: 15px;

      .profile-settings-icon {
        position: absolute;
        background-color: $secondary-background-color;
        border-radius: 50px;
        border: 2px solid $border-color-two;
        top: -6px;
        right: -30px;

        svg {
          width: 50px;
          height: 45px;
        }
      }
    }
  }
}

//Intro component
.intro {
  background-color: $primary-background-color;
  height: 50vh;
  padding-top: 5rem;

  .intro-logo {
    width: 400px;
    float: left;
  }

  .intro-content {
    color: $main-text-color;
    height: 25vh;
    padding-left: 5rem;

    .intro-heading {
      margin: 0;
      font-size: 50px;
    }

    .intro-text {
      font-size: 25px;
    }
  }
}

//Translate component
.input-content {
  border-radius: 25px;
  background-color: $input-background-color;
  border: 3px solid $border-color-one;
}

.translate {
  background-color: $primary-background-color;
  height: 15vh;
  padding-top: 2rem;

  .card-container {
    margin-top: 0;
  }
}

//Output translate component
.output-translate {
  margin-top: 10rem;
}

.history {
  background-color: $primary-background-color;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .card-container {
    margin-top: 0;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
  .header .header-logo {
    width: 60px;
  }

  .header-content .header-heading {
    margin-left: 2rem;
    font-size: 20px;
  }

  .header .header-content .profile-settings {
    padding: 5px 20px;
  }

  .header .header-content .profile-settings .profile-settings-icon {
    top: -3px;
    right: -24px;
  }

  .header .header-content .profile-settings .profile-settings-icon svg {
    width: 35px;
    height: 30px;
  }

  .intro {
    height: 40vh;
  }

  .intro .intro-logo {
    width: 250px;
  }

  .intro .intro-content .intro-heading {
    font-size: 40px;
  }
  .intro .intro-content .intro-text {
    font-size: 20px;
  }
}
